.common-box
  border 1px solid #EBEEF5;
  padding 16px 20px;
  border-radius 6px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

.flex-column-center
  display flex;
  flex-direction column;
  justify-content center;
  align-items: center;

.flex-end
  display flex;
  justify-conent flex-end;

.common-dialog
  display flex
  flex-direction column;
  &--subtitle
    font-size 20px;
    margin-bottom 20px;
  &--actions
    display inline-flex
    justify-content flex-end;
