.flex
  display: flex;
.flex-column
  display: flex;
  flex-direction: column;
.flex-start
  display: flex;
  justify-content: flex-start;
.flex-end
  display: flex;
  justify-content: flex-end;
.flex-center
  display: flex;
  align-items: center;