.search-table-wrapper
  display flex;
  flex-direction column;

.search-table-billboard
  display: flex;
  // background: #eee;
  justify-content: space-around;
  margin-bottom: 16px;

  .billboard-item
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    flex-grow 1;
    border-radius: 6px;
    padding: 20px 0;
    margin 0 10px;
    &:first-child
      background: #f12711;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &:nth-child(2)
      background: #FC5C7D;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &:nth-child(3)
      background: #007991;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &:last-child
      background: #12c2e9;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .billboard-item-number
      font-size 20px;
      margin 10px 0;
      span
        font-size 28px;
    .billboard-item-label
      font-size 18px
      padding-right: 20px;

.search-table-form
  width: calc(95vw - 200px);
  display flex;
  flex-direction column;
  border 1px solid #EBEEF5;
  border-radius 6px
  padding 1vh 1vw;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom 1vh;
  .search-form-row
    display flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // .el-form-item
    //   width: 300px;
  .search-form-row-actions
    display flex
    justify-content flex-end
  .search-form-date-row
    display: flex;
    justify-content: space-between;
    .el-form--inline .el-form-item
      flex: 3;
      display: flex;
    .btn-text
      position: absolute;
      display: inline-block;
      width: 200px;
      margin-left: 10px;
      .el-button--text
        font-size: 12px;
        color: #000;
        &.active
          color: #FC9942;
    .date-picker-group .line.el-col.el-col-2
      width: 30px;
      float: left;
      height: 100%;
      margin-top: 0;
      text-align: center;
      color: #999;
      background: none;

  .money-range-box
    .money-box.el-input.el-input--medium
      width: 120px;
      position: relative;
      &:first-child::after
        content: '-';
        position: absolute;
        width: 8px;
        margin-left: 4px;
      &:last-child
        margin-left: 16px;

  .el-form--inline .el-form-item
    margin-right 0.25vw;
    height: 4vh;
    min-height 24px;
    max-height 36px;
    // line-height: 4vh;
  .el-form-item
    margin-bottom: 2vh;
  // .el-form-item__label, .el-form-item__content
  //   line-height 5vh !important;
  .el-input--medium .el-input__inner
    height: 4vh;
    min-height 24px;
    max-height 36px;
    // line-height 4vh;
  .el-form--inline .el-form-item__content
    vertical-align middle


.search-table-data
  width: calc(95vw - 200px);
  flex-grow 1;
  display: flex;
  flex-direction: column;
  border 1px solid #EBEEF5;
  padding 1vh 1vw;
  border-radius 6px
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .statistics-main {
    display: flex;
    flex-direction: column;
    padding: 0.5vh 1vh;
    align-items: flex-start;
    font-size: 16px;
    .statistical-title {
      display: flex;
      align-items: center;
      line-height: 28px;
      img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
      }
    }
    .statistics-totalList {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-left {
        display: flex;
        flex-wrap: wrap;
        line-height: 28px;
      }
    }
    .color-1 {
      color: #f1594e;
      text-decoration: none;
    }
    .color-2 {
      color: #8fb63e;
      text-decoration: none;
    }
    .color-3 {
      color: #0099ff;
      text-decoration: none;
    }
  }
  .statistics-main-action {
    align-items: flex-end;
  }
  .el-table
    flex-grow 1;
  .search-table-pagination
    margin-top 10px
    display flex
    justify-content flex-end

.test-color
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.search-table-data-1rows
  .el-table__body-wrapper
    overflow-y: scroll;
    height: 72vh;
.search-table-data-1-5rows
  .el-table__body-wrapper
    overflow-y: scroll;
    height: 69vh;
.search-table-data-4rows
  .el-table__body-wrapper
    overflow-y: scroll;
    height: 51vh;
.search-table-data-4-5rows
  .el-table__body-wrapper
    overflow-y: scroll;
    height: 50vh;

@media (max-width: 1420px)
  .search-table-data-2rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 65vh;
  .search-table-data-2-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 60vh;
  .search-table-data-3rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 51vh;
  .search-table-data-3-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 57vh;
  .search-table-data-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 40vh;
  .search-table-data-5-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 45vh;
  .search-table-data-6rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;
  .search-table-data-6-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;


@media (min-width: 1421px)
  .search-table-data-2rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 57vh;
  .search-table-data-2-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 60vh;
  .search-table-data-3rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 51vh;
  .search-table-data-3-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 59vh;
  .search-table-data-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 40vh;
  .search-table-data-5-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 45vh;
  .search-table-data-6rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;
  .search-table-data-6-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;

@media (min-height: 550px)
  .search-table-data-1rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 62vh;
  .search-table-data-1-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 55vh;
  .search-table-data-2rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 56vh;
  .search-table-data-2-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;
  .search-table-data-3rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 34vh;
  .search-table-data-3-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;
  .search-table-data-4rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 40vh;
  .search-table-data-4-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 28vh;
  .search-table-data-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 40vh;
  .search-table-data-5-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 22vh;
  .search-table-data-6rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;
  .search-table-data-6-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 20vh;

@media (min-height: 980px)
  .search-table-data-1rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 65vh;
  .search-table-data-1-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 63vh;
  .search-table-data-2rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 58vh;
  .search-table-data-2-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 51vh;
  .search-table-data-3rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 44vh;
  .search-table-data-3-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 49vh;
  .search-table-data-4-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 41vh;
  .search-table-data-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 40vh;
  .search-table-data-5-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 36vh;
  .search-table-data-6rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;
  .search-table-data-6-5rows
    .el-table__body-wrapper
      overflow-y: scroll;
      height: 38vh;