<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xpay.service.config.entity.ProductOpen">
	<sql id="table"> tbl_product_open </sql>

	<!-- 用于返回的bean对象 -->
	<resultMap id="BaseResultMap" type="com.xpay.service.config.entity.ProductOpen">
		<result column="ID" property="id" jdbcType="BIGINT"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="EXPIRE_DATE" property="expireDate" jdbcType="DATE"/>
		<result column="VERSION" property="version" jdbcType="INTEGER"/>
		<result column="PRODUCT_TYPE" property="productType" jdbcType="SMALLINT"/>
		<result column="PRODUCT_CODE" property="productCode" jdbcType="SMALLINT"/>
		<result column="MCH_NO" property="mchNo" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="TINYINT"/>
		<result column="REMARK" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ID,
		CREATE_TIME,
		EXPIRE_DATE,
		VERSION,
		PRODUCT_TYPE,
		PRODUCT_CODE,
		MCH_NO,
		STATUS,
		REMARK
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ProductOpen">
		INSERT INTO <include refid="table" /> (
        	CREATE_TIME,
        	EXPIRE_DATE,
        	VERSION,
        	PRODUCT_TYPE,
        	PRODUCT_CODE,
        	MCH_NO,
        	STATUS,
        	REMARK
        ) VALUES (
			#{createTime,jdbcType=TIMESTAMP},
			#{expireDate,jdbcType=DATE},
			0,
			#{productType,jdbcType=SMALLINT},
			#{productCode,jdbcType=SMALLINT},
			#{mchNo,jdbcType=VARCHAR},
			#{status,jdbcType=TINYINT},
			#{remark,jdbcType=VARCHAR}
        )
	</insert>

	<!-- 批量插入记录 -->
	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
		INSERT INTO <include refid="table" /> (
        	CREATE_TIME,
        	EXPIRE_DATE,
        	VERSION,
        	PRODUCT_TYPE,
        	PRODUCT_CODE,
        	MCH_NO,
        	STATUS,
        	REMARK
        ) VALUES 
			<foreach collection="list" item="item" separator=",">
			(
			#{item.createTime,jdbcType=TIMESTAMP},
			#{item.expireDate,jdbcType=DATE},
			0,
			#{item.productType,jdbcType=SMALLINT},
			#{item.productCode,jdbcType=SMALLINT},
			#{item.mchNo,jdbcType=VARCHAR},
			#{item.status,jdbcType=TINYINT},
			#{item.remark,jdbcType=VARCHAR}
			)
			</foreach>
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="ProductOpen">
        UPDATE <include refid="table" />
		<set>
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			EXPIRE_DATE = #{expireDate,jdbcType=DATE},
			VERSION = #{version,jdbcType=INTEGER} + 1,
			PRODUCT_TYPE = #{productType,jdbcType=SMALLINT},
			PRODUCT_CODE = #{productCode,jdbcType=SMALLINT},
			MCH_NO = #{mchNo,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=TINYINT},
			REMARK = #{remark,jdbcType=VARCHAR}
		</set>
        WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=INTEGER}
	</update>

	<!-- 只更新不为null的属性 -->
	<update id="updateIfNotNull" parameterType="ProductOpen">
		UPDATE <include refid="table" />
		<set>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="expireDate != null">
				EXPIRE_DATE = #{expireDate,jdbcType=DATE},
			</if>
			VERSION = #{version,jdbcType=INTEGER} + 1,
			<if test="productType != null">
				PRODUCT_TYPE = #{productType,jdbcType=SMALLINT},
			</if>
			<if test="productCode != null">
				PRODUCT_CODE = #{productCode,jdbcType=SMALLINT},
			</if>
			<if test="mchNo != null">
				MCH_NO = #{mchNo,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR}
			</if>
		</set>
		WHERE ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=INTEGER}
	</update>
	
	<!-- 多条件组合查询 -->
	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<choose>
			<when test="sortColumns != null and sortColumns !='' ">
				<![CDATA[ ORDER BY ${sortColumns} ]]>
			</when>
			<otherwise>
				<![CDATA[ ORDER BY ID DESC ]]>
			</otherwise>
		</choose>
	</select>
	
	<!-- 根据多条件组合查询，计算总记录数 -->
	<select id="countBy" parameterType="java.util.Map" resultType="long">
		SELECT count(ID) FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<!-- 按查询条件删除 -->
	<delete id="deleteBy">
        DELETE FROM <include refid="table" /> 
		<where>
			<include refid="condition_sql" />
		</where>
    </delete>

	<!-- 根据多个id查询 -->
    <select id="listByIdList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM <include refid="table" />
		WHERE ID IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
	</select>

	<!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM <include refid="table" /> 
		WHERE ID = #{id,jdbcType=BIGINT}  
	</select>

	<!-- 按id主键删除 -->
	<delete id="deleteById">
        DELETE FROM <include refid="table" /> WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

	<!-- 按多个id主键删除 -->
	<delete id="deleteByIdList" parameterType="list">
		DELETE FROM <include refid="table" />
		WHERE ID IN 
		<foreach collection="list" item="item" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
	</delete>

	<!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
	<!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

	<sql id="condition_sql">
		<if test="id != null ">
			AND ID = #{id,jdbcType=BIGINT}
		</if>
		<if test="idList != null and idList.size() > 0">
			AND ID IN <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">#{item,jdbcType=BIGINT}</foreach>
		</if>
		<if test="createTime != null ">
			AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="expireDate != null ">
			AND EXPIRE_DATE = #{expireDate,jdbcType=DATE}
		</if>
		<if test="version != null ">
			AND VERSION = #{version,jdbcType=INTEGER}
		</if>
		<if test="productType != null ">
			AND PRODUCT_TYPE = #{productType,jdbcType=SMALLINT}
		</if>
		<if test="productCode != null ">
			AND PRODUCT_CODE = #{productCode,jdbcType=SMALLINT}
		</if>
		<if test="mchNo != null and mchNo !='' ">
			AND MCH_NO = #{mchNo,jdbcType=VARCHAR}
		</if>
		<if test="status != null ">
			AND STATUS = #{status,jdbcType=TINYINT}
		</if>
		<if test="remark != null and remark !='' ">
			AND REMARK = #{remark,jdbcType=VARCHAR}
		</if>
	</sql>

	<!-- 判断商户是否有开通某个产品 -->
	<select id="countMchProductOpen" parameterType="java.util.Map" resultType="Long">
		SELECT count(po.ID) FROM tbl_product p INNER JOIN tbl_product_open po
		ON p.PRODUCT_CODE = #{productCode,jdbcType=SMALLINT} AND p.STATUS = 1
		AND po.MCH_NO = #{mchNo,jdbcType=VARCHAR} AND po.STATUS = 1
		AND DATEDIFF(EXPIRE_DATE, CURDATE()) >= 0
		AND p.PRODUCT_CODE = po.PRODUCT_CODE
	</select>
</mapper>

